bw-card.m-b-0([depth]="1")
    bw-card-body.box([padded]="true")
       div(layout="column", layout-align="center center", style="min-height: 280px; min-width: 280px;")
            .position(*ngIf="chartSelected", [formGroup]="fgChart")
                input.position.z-depth-1(formControlName="position",
                [ngClass]="{'err-position': fgChart.controls['position'].errors}", 
                type="text", (click)="onClickPosition()",
                (blur)="lostFocusPosition()")
                .err-message(*ngIf="fgChart.controls['position'].errors && fgChart.controls['position'].errors.invalidDataType") Please enter a numeric value
                .err-message(*ngIf="fgChart.controls['position'].errors && fgChart.controls['position'].errors.forbiddenName") Duplicated value
            div.m-t-10(flex-initial)
                .text-center.text-wrap.mini-chart-title {{ item.title }}
            
            //- div(*ngIf="placeholderVisible", flex)
                //- .text-center(flex)
                    img([src]="placeholderImage", [style.width.px]="placeholderHeight", [style.height.px]="placeholderHeight")
            

            div(*ngIf="placeholderVisible && item", flex)
                .watermark
                    i.donut-chart-icon.zmdi.zmdi-chart-donut
                    i.chart-icon.zmdi.zmdi-chart

            bw-button.m-5(*ngIf="placeholderVisible && item", color="green", title="Preview",
                            icon="eye", (clicked)="previewChart()", flex)

            div(*ngIf="loading", flex, style="text-align: center")
                bw-preloader(color="gray")
            .box.p-t-5.p-relative(*ngIf="!loading && chart !== undefined")
                div.remove-gridlines(*ngIf="chart.options?.series?.length > 0", flex, [chart]="chart", style="height: 260px; width: 260px")
            div(flex)
                div(*ngIf="!loading && (!chart?.options?.series || chart?.options?.series?.length === 0) && !(placeholderVisible && item)", 
                    style="text-align: center",
                    layout="column", 
                    layout-align="center center")
                    i.zmdi.zmdi-info-outline.big-i-icon(flex)
                    div(flex) THERE IS NO DATA AVAILABLE
                          
