.h-100(flex, layout="column") 
    div(flex, layout="row")
        div(flex="80")
            bw-text-area(flex, [fg]="vmm.fg", leftIcon="file-text"
                                            label="Milestone Task",
                                            field="task",
                                            placeholder="Some description go here and this is another line.",
                                            [autosize]="false",
                                            , icon="receip")
            div(layout="row")
                div(flex, *ngIf="!status")
                    bw-date-picker([fg]="vmm.fg", field="dueDate", label="Date", [required]="true", [config]="datePickerConfig")
                div(flex="60", *ngIf="status")
                    bw-date-picker([fg]="vmm.fg", field="dueDate", label="Date", [required]="true", [config]="datePickerConfig")
                div(flex="40", *ngIf="status")
                    .m-l-20.m-t-10 Status: {{' ' + status}}

        div(flex="20")
    
    div(layout="row")
        div(flex="80")
            bw-select-picker(flex, flex-xs="100", flex-gt-sm="33",
                                        [fg]="vmm.fg", 
                                        field="responsible",
                                        label="Responsible People",
                                        [items]="vmm.responsibleList",
                                        leftIcon="accounts",
                                        [multiple]="true"
                                        )  

        div(flex="20")
            bw-button.m-t-20(color="blue", [simple]="true", title="", icon="floppy", class="normal", (clicked)="save()", [disabled]="!vmm.fg.valid")
            bw-button.m-t-20(color="black", [simple]="true", title="", icon="close", class="normal", (clicked)="cancel()")