.enter-data-form-container.h-100(layout="row", layout-padding)
    .flex(layout="column", [class.fullscreen]="fullScreen")
        .custom-tooltip-header(*ngIf="fullScreen", layout="row", layout-padding)
          div(flex-initial)
            i.zmdi.zmdi-storage
          div(flex-initial)
            .p-l-15 Enter or import your data
        bw-text-box.p-t-5(*ngIf="!fullScreen",
                    flex-none, 
                    [fg]="vm.fg",
                    field="dataName",
                    label="Data name",
                    [required]="true")
        .table.h-100
            .table-header.bgm-blue(layout="row")
                .flex(*ngFor="let header of headerData")
                    .columns {{ header }}
            .table-body(layout="column")
                .data-row(flex, layout="row", *ngFor="let controls of dataList, let j = index")
                    .flex(*ngFor="let fieldName of controls.controls, let i = index")
                        div(*ngIf="getInputType(j, i) === 'date'")
                            bw-date-picker(
                                    [fg]="controls",
                                    [field]="i",
                                    [config]="datePickerConfig")
                        div(*ngIf="getInputType(j, i) === 'checkbox'")
                            bw-checkbox(
                                    [fg]="controls",
                                    [field]="i")
                        div(*ngIf="getInputType(j, i) !== 'checkbox' && getInputType(j, i) !== 'date'")
                            bw-text-box(
                                    [fg]="controls",
                                    [field]="i",
                                    [placeholder]="getPlaceholder(j, i)")
                        .flex.err-message(*ngIf="fieldName.errors && fieldName.errors.required") This field is required.
                        .flex.err-message(*ngIf="fieldName.errors && fieldName.errors.invalidDataType") Incorrect data type.

                .m-t-10.m-r-40(layout="row", layout-align="end")
                    bw-button(icon="plus", title="ADD NEW ROW", color="blue", (clicked)="addNewRow()")
                    
        .full-screen-buttons(layout="row", layout-align="end") 
            i.zmdi.zmdi-fullscreen.p-r-10(*ngIf="!fullScreen", (click)="toggleFullScreen(true)")   Full Screen
            i.zmdi.zmdi-fullscreen-exit.p-r-10(*ngIf="fullScreen", (click)="toggleFullScreen(false)")   Exit Full Screen
