.simple-kpi-form-container(*ngIf="!vm.fg")
    .bgm-white.z-depth-1.p-40(flex="grow")

.simple-kpi-form-container(*ngIf="vm.fg && !newWidgetFromKPI && !newChartFromKPI ")
    .bgm-white.z-depth-1.p-30(flex="grow")

        div(layout="column")
            
            //- content
            div(flex)

                div(layout="row", layout-xs="column")

                    //- left panel
                    .overflow-auto(flex-initial)

                        //- logo
                        .m-10
                            img.kpi-avatar(src='./assets/img/kpis/puzzle-complex.jpg')

                        .m-10.m-b-20
                            h2.c-black Basic Information:
                        .m-t-25
                            bw-text-box(flex-none, [fg]="vm.fg", field="name", label="Name", [required]="true")
                            .error-message(*ngIf="vm.fg.get('name').errors && !vm.fg.get('name').errors.forbiddenName && (vm.fg.get('name').dirty || vm.fg.get('name').touched)") This field is required
                            .error-message(*ngIf="vm.fg.get('name').errors && vm.fg.get('name').errors.forbiddenName && (vm.fg.get('name').dirty || vm.fg.get('name').touched)") Duplicated name
                        .m-t-25
                            bw-text-box(flex-none, [fg]="vm.fg", field="group", label="Group")
                        .m-t-25
                            bw-text-area(flex-none, [fg]="vm.fg",
                                                        field="description",
                                                        label="Description",
                                                        placeholder="Kpi description ...",
                                                        [autosize]="false")
                    
                    //- right panel
                    .p-10(flex)

                        div(layout="column")
                            //- header
                            .title.m-b-15(flex)
                                h2 Build your complex KPI

                            //- explanation
                            .m-t-15(flex)
                                | Type your formula below, use '@' to see the list of kpis. 
                                | The formulas can include the following symbols "( ) / * + - @"

                            //- expression container
                            .m-t-35(flex)
                                | Enter kpi expression
                                
                            .m-t-35(flex)
                                kpi-expression-parser([kpis]="vm.kpis", [dataSources]="vm.dataSources", [expression]="vm.fg.get('expression')")

                            //- filters
                            div(flex)
                                //- kpi-filter-list
                                    //- (
                                    //-     [filters]="vm.fg.get('filter')",
                                    //-     [dataSource]="vm.selectedDataSource"
                                    //- )
            //- actions
            div(flex)
                div(layout="row", layout-align="end center")
                    //- save & visualize
                    div(flex-initial)
                        bw-button.m-r-10(title="VISUALIZE", icon="eye", color="green", (clicked)="_openVisualizeModal()",  [disabled]="!vm.fg.valid")

                    //- save
                    div(flex-initial)
                        bw-button(title="Save", icon="check", color="blue", (clicked)="save()", [disabled]="!vm.fg.valid")

                    //- cancel
                    div(flex-intial)
                        bw-button(title="Cancel", icon="close", color="black", [simple]="true", (clicked)="cancel()")

bw-modal(#previewModal, (onDismiss)="_closePreviewModal()", (onClosed)="_closePreviewModal()", size="md")
    div(layout="row", layout-align="end", flex-none)
        bw-button.iconzoom(icon="close", title="Go to kpi list", color="black", [simple]="true", (clicked)="_closePreviewModal()")
    div(layout="row", layout-align="start", flex-none)
        h2.title I would like to visualize my kpi in a:
    bw-modal-body
        .m-b-20
            div(flex, layout="row", layout-xs="column", layout-padding, layout-align="center center")
                div.ligth.m-10.z-depth-1.bgm-white.pointer-cursor.text-center(flex, flex-xs="50", flex-sm="50", flex-md="50", flex-gt-sm="50", flex-gt-md="45", (click)="newWidget()")
                    .m-15(flex)
                        img(style={'height': '120px', 'width': '205px'}, src='./assets/img/kpis/widget.PNG')
                    .m-15(flex-none, layout="row", layout-align="center center")
                        h2 Widget
                div.ligth.m-10.z-depth-1.bgm-white.pointer-cursor.text-center(flex, flex-xs="50", flex-sm="50", flex-md="50", flex-gt-sm="50", flex-gt-md="45", (click)="newChart()")
                    .m-15(flex)
                        img(style={'height': '120px', 'width': '205px'}, src='./assets/img/kpis/chart.PNG')
                    .m-15(flex-none, layout="row", layout-align="center center")
                        h2 Chart
.new-widget-from-kpi(*ngIf="newWidgetFromKPI")
    kpi-new-widget([widgetDataFromKPI]="vm.valuesPreviewWidget")
.new-chart-from-kpi(*ngIf="newChartFromKPI")
    kpi-new-chart([chartDataFromKPI]="vm.valuesPreviewChart")                        