div(layout="column")
    //- name
    div(flex)
        bw-text-box([fg]="fg", field="name", label="name", leftIcon="local-offer")   
        bw-select-picker.w-80.m-r-20(*ngIf="vm.visbleGroupings", flex, flex-xs="100", flex-gt-sm="33",
                                    [fg]="fg", 
                                    field="groupings",
                                    label="I would like to set a target for:",
                                    [items]="vm.groupingsList",
                                    leftIcon="group-work",
                                    noneSelectedText="{{vm.grouping}}",
                                    )

    div(flex, layout="row")
        .m-r-10(flex="40")
            bw-select-picker.w-80.m-r-20(flex, flex-xs="100", flex-gt-sm="33",
                                    [fg]="fg", 
                                    field="type",
                                    label="Objective",
                                    [items]="vm.objectiveList",
                                    leftIcon="gps-dot"
                                    )  

        .text-center(flex="20")
            bw-number.m-r-20([fg]="fg", field="value", label="value", leftIcon="edit")   
            
        .m-t-25.text-center(flex="40")
            bw-button(title="# value", color="{{colorValue}}", icon="number", (clicked)="unit('value')")  
            bw-button(title="% pct. ", color="{{colorPercent}}", icon="percent", (clicked)="unit('percent')")  
    
    div(flex, layout="row")
        .m-r-10(flex="50")
            bw-select-picker.w-80.m-r-20(flex, flex-xs="100", flex-gt-sm="33",
                                    [fg]="fg", 
                                    field="period",
                                    label="Target period:",
                                    [items]="vm.targetPeriodItems",
                                    leftIcon="calendar-alt",
                                    [disabled]="vm.noFrequency",
                                    noneSelectedText="{{vm.nodoSelectedText || 'NOTHING SELECTED'}}"
                                    )
        .m-l-10(flex="50", *ngIf="isBaseOnVisible")
            bw-select-picker.w-80.m-r-20(flex, flex-xs="100", flex-gt-sm="33",
                                    [fg]="fg", 
                                    field="compareTo",
                                    label="Based on",
                                    [items]="vm.baseOnList",
                                    leftIcon="calendar-alt",
                                    noneSelectedText="{{vm.nodoSelectedTextCompareTo || 'NOTHING SELECTED'}}"
                                    )

    div(flex, layout="row")
        .m-r-10(*ngIf="!isCustom", flex="50")
            bw-checkbox.m-t-25(flex, flex-xs="100", flex-gt-sm="33",
                                    [fg]="fg",
                                    field="recurrent",
                                    label="Repeat {{vm.frequency}}",
                    )
        .m-l-10(flex="50")
            bw-toggle(*ngIf="vm.activeVisble", [fg]="fg", field="active", color="green", label="Active")