kpi-spinner(*ngIf="(vm.isLoading || !filtersQueriesCompleted) && !newWidgetFromKPI && !newChartFromKPI")

.simple-kpi-form-container(*ngIf="vmFg && !newWidgetFromKPI && !newChartFromKPI ")
    .bgm-white.z-depth-1.p-30(flex="grow")
    
        div(layout="column")
            //- header
            div(flex)
                h2 Simple KPI        
            //- content
            div(flex)

                div(layout="row", layout-xs="column")

                    //- left panel
                    div(flex-initial)

                        //- logo
                        .m-10
                            img.kpi-avatar(src='./assets/img/kpis/puzzle-simple.jpg')

                        .m-10.m-b-20
                            h2.c-black Basic Information:
                        .m-t-5
                            bw-text-box(flex-none, [fg]="vm.fg", field="name", label="Name", [required]="true")
                            span.c-red.f-11(*ngIf="vm.fg.get('name').errors && !vm.fg.get('name').errors.forbiddenName && (vm.fg.get('name').dirty || vm.fg.get('name').touched)")
                                | Must include 5 or more letters or numbers
                            .duplicatedNameMsg(*ngIf="vm.fg.get('name').errors && vm.fg.get('name').errors.forbiddenName && (vm.fg.get('name').dirty || vm.fg.get('name').touched)") Duplicated name

                        .m-t-10
                            bw-text-box(flex-none, [fg]="vm.fg", field="group", label="Group")
                        .m-t-10
                            bw-text-area(flex-none, [fg]="vm.fg",
                                                        field="description",
                                                        label="Description",
                                                        placeholder="Kpi description ...",
                                                        [autosize]="false")
                        .m-t-10
                            kpi-tags([fg]="vm.fg", field="tags", [existingTags]="vm.existingTags")
                    
                    //- right panel
                    .p-10(flex)

                        //- aggreagtion expression
                        .m-b-20
                            .m-10.m-t-20(layout="column")
                                div.p-b-5(*ngIf="isLoading", layout="row", layout-align="center center")
                                    bw-preloader.text-center(flex, color="gray")
                                div.p-b-10(*ngIf="isLoading", layout="row", layout-align="center center")
                                    span Loading Collection and Source
                                div(*ngIf="!isLoading", flex)
                                    div(layout="row", layout-xs="column", layout-sm="column")
                                        #select-source(flex)
                                            bw-select-picker.m-r-10(
                                                [fg]="vm.fg",
                                                #vmSource,
                                                label="Source",
                                                field="source",
                                                [items]="vm.sourceItems",
                                                [multiple]="true",
                                                noneSelectedText="All"
                                            )
                                        #select-collection(flex)
                                            bw-select-picker.m-r-10(
                                                [fg]="vm.fg",
                                                label="Collection",
                                                field="expression.dataSource",
                                                dependOnField="source",
                                                (dependantValueChanged)="vm.getDataSourceList($event)",
                                                [items]="vm.dataSources",
                                                leftIcon="dns",
                                                noneSelectedText="Select Data Source"
                                            )
                                div(*ngIf="!isLoading", flex, layout="row", layout-xs="column", layout-sm="column")
                                    bw-select-picker.m-r-10(flex, [fg]="vm.fg",
                                                                label="Function",
                                                                field="expression.function",
                                                                [items]="vm.aggregateFunctions")

                                    bw-select-picker.m-r-10(flex, [fg]="vm.fg",
                                                        #numericFieldSelector,
                                                        label="Field",
                                                        field="expression.field",
                                                        [items]="vm.numericFields",
                                                        [liveSearch]="true",
                                                        liveSearchPlaceholder="...search...")
                        
                        //- arithmetic operation
                        .m-b-20
                            kpi-collapsable([collapsed]="vm.shouldCollapseArithmeticOperation", headerText="Arithmetic Operation (Optional):", [color]="'black'")
                                .m-t-20(layout="row", flex, layout-xs="column", layout-sm="column")
                                    bw-select-picker.m-r-10(flex, [fg]="vm.fg",
                                                        field="expression.operator",
                                                        [items]="vm.operators")

                                    bw-number(flex, [fg]="vm.fg", field="expression.value", label="Value", [decimal]="true",
                                                [ngClass]="{'is-disabled': !hasExpressionOperatorValue }")
                                
                        .m-b-20
                            kpi-collapsable([collapsed]="vm.shouldCollapseFilters", headerText="Filters (Optional):", [color]="'black'")
                                .m-t-20
                                    kpi-filter-list(
                                        [filters]="vm.fg.get('filter')",
                                        [dataSource]="vm.selectedDataSource",
                                        [collectionSource]="vm.source")

            //- actions
            div(flex)
                div(layout="row", layout-align="end center")
                    //- save & visualize
                    div(flex-initial)
                        bw-button.m-r-10(title="VISUALIZE", icon="eye", color="green", (clicked)="_openVisualizeModal()", [disabled]="!valid")
                    //- save
                    div(flex-initial)
                        bw-button(title="Save", icon="check", color="blue", (clicked)="save()", [disabled]="!valid")
                    //- cancel
                    div(flex-intial)
                        bw-button(title="Cancel", icon="close", color="black", [simple]="true", (clicked)="cancel()")

bw-modal(#previewModal, (onDismiss)="_closePreviewModal()", (onClosed)="_closePreviewModal()", size="md")
    div(layout="row", layout-align="end", flex-none)
        bw-button.iconzoom(icon="close", title="Go to kpi list", color="black", [simple]="true", (clicked)="_closePreviewModal()")
    div(layout="row", layout-align="start", flex-none)
        h2.title I would like to visualize my kpi in a:
    bw-modal-body
        .m-b-20
            div(flex, layout="row", layout-xs="column", layout-padding, layout-align="center center")
                div.ligth.m-10.z-depth-1.bgm-white.pointer-cursor.text-center(flex, flex-xs="50", flex-sm="50", flex-md="50", flex-gt-sm="50", flex-gt-md="45", (click)="newWidget()")
                    .m-15(flex)
                        img(style={'height': '120px', 'width': '205px'}, src='./assets/img/kpis/widget.PNG')
                    .m-15(flex-none, layout="row", layout-align="center center")
                        h2 Widget
                div.ligth.m-10.z-depth-1.bgm-white.pointer-cursor.text-center(flex, flex-xs="50", flex-sm="50", flex-md="50", flex-gt-sm="50", flex-gt-md="45", (click)="newChart()")
                    .m-15(flex)
                        img(style={'height': '120px', 'width': '205px'}, src='./assets/img/kpis/chart.PNG')
                    .m-15(flex-none, layout="row", layout-align="center center")
                        h2 Chart
.new-widget-from-kpi(*ngIf="newWidgetFromKPI")
    kpi-new-widget([widgetDataFromKPI]="vm.valuesPreviewWidget")
.new-chart-from-kpi(*ngIf="newChartFromKPI")
    kpi-new-chart([chartDataFromKPI]="vm.valuesPreviewChart")