form#login-form(flex, [formGroup]="fg", (ngSubmit)="signIn($event)")
    .sign-in-container.h-100(
        layout="column", layout-align="center",
        [class.mobile]="isMobile")
        //-logo
        .m-b-20(flex)
            img.logo(src='/assets/img/logos/logo.png')
        
        //-company
        .m-r-15.m-l-15.m-t-15(*ngIf="requireCompanyName", flex)
            bw-text-box([fg]="fg", required, field="host", label="Company Name", leftIcon="home", [value]="companyInfo.subdomain")
        //-email
        .m-r-15.m-l-15.m-t-15(flex)
            bw-email([fg]="fg", required, field="username", label="Email Address", [value]="companyInfo.email")
        //-password
        .m-r-15.m-l-15.m-t-15(flex)
            bw-password([fg]="fg", field="password", label="Password")
        //-auth error message
        .w-100.text-left(flex, [hidden]="!authError")
            #invalid-credentials.error-message.c-red.animated([ngClass]="{'shake': authError}") {{authErrorMessage}}    
        //-Forgot
        .w-100.m-t-10.m-r-15.text-right(flex)
            a(href="#", (click)="forgotPassword($event)") Forgot Password
        //-action
        .w-100.m-t-35.text-center(flex)
            bw-button#sign-in(color="blue", title="SIGN IN", class="normal", [rounded]="true", (clicked)="signIn($event)",
                        [disabled]="!canSignIn", type="submit", [block]="true" )
        //-link to signup
        .w-100.m-t-15.text-center(flex)
            bw-button#sign-up(color="white", title="CREATE ACCOUNT", class="normal", [rounded]="true", (clicked)="goToSignup($event)", [block]="true" )
               
