div(#tableContainer, *ngIf="isModeView()")
  bw-modal(#listModal='', (onClosed)="modalClose()", (onDismiss)="modalClose()")
    bw-modal-header
      div(layout="row", layout-align="end", flex-none)
        bw-button.target-close-btn(icon="close", color="gray", [simple]="true", (clicked)="close()")
    bw-modal-body
      kpi-item-list(
    title="Targets",
    [items]="vm.targetItems",
    [itemViewModel]="vm",
    [addItemActivityName]="'AddTargetActivity'",
    [itemListActivityName]="actionActivityNames",
    [actionItems] = "vm.menuItems",
    itemType="table",
    smSize="40",
    [tableRowTemplate]="tableItem",
    (onAddActionClicked)="add()",
    (onItemActionClicked)="actionClicked($event)",
    (onItemClicked)="editClickedList($event)")

      ng-template(#tableItem, let-item="item")
        //- image
        div(flex-initial)
            img(*ngIf="item.imagePath", [src]="item.imagePath", [style.height.px]="55")
        //- title & subtitle
        div(flex)
            .m-t-10.m-l-10 
                h2.title {{ item.title }}

kpi-edit-goal([hidden]="isModeEdit()", [chartHelper]="chartHelper",
              [selectedTarget]="selectedTarget", [stackList]="stackList", [nonStackList]="nonStackList", (onTarget)="onTarget($event)")
kpi-new-goal([hidden]="isModeNew()",
            [stackList]="stackList",
            [nonStackList]="nonStackList", [chartHelper]="chartHelper", (onTarget)="onTarget($event)")
kpi-milestones([hidden]="isMileStones()", [selectedTarget]="selectedTarget", (done)="onTarget($event)")