kpi-spinner(*ngIf="isLoading")
.show-scroll
    h3.lead {{ name }}
    
    .grid-container.full-height.p-relative([class.maximized-no-card]="fullscreen", [ngStyle]="{'height': 'containerHeight'}")
        .top-container(layout="row")
            .quick-search.p-l-10.p-t-5(flex)
                bw-text-box([fg]="fg", field="searchValue", leftIcon="search", placeholder="Search anything...", [floatingLabel]="false")
            .full-screen-menu(flex)
                .icon-container(*ngIf="!fullscreen", (click)="showFullscreen($event)")
                    span.p-l-5 Full screen           
                    .zmdi.zmdi-fullscreen(style="'padding-top': '10px'") 
                .icon-container(*ngIf="fullscreen", (click)="showFullscreen($event)")
                    span.p-l-5 Exit Full screen   
                    .zmdi.zmdi-fullscreen-exit(style="'padding-top': '10px'")

        ag-grid-angular(
            *ngIf="deService.rowData && !isLoading",
            [ngStyle]="{'height': height}",
            class="ag-theme-material",
            [rowData]="deService.rowData",
            [defaultColDef]="defaultColDef",
            [pagination]=true,
            [paginationAutoPageSize]=true,
            [context]="deService.schema",
            [columnDefs]="deService.columnDefs",
            [floatingFilter]=true,
            rowSelection='multiple',
            [suppressRowClickSelection]=true,
            [rowDeselection]=true,
            (selectionChanged)="onSelectionChanged($event)",
            (cellValueChanged)="onCellValueChanged($event)",
            (gridReady)="onGridReady($event)")

        .actions.m-t-5(*ngIf="deService.rowData && !isLoading" layout="row", layout-xs="column", layout-align="space-between")
            div(flex-initial)
                div(layout="row", layout-padding)
                    bw-button.m-r-5.m-l-5(flex, [disabled]="!selectedRows", title="Delete", color="red", icon="delete", (clicked)="removeRows()")
                    bw-button(flex, title="Enter Data" color="blue", icon="long-arrow-down", (clicked)="goToEmptyRow()")
            
            .status(flex-initial, [ngClass]="{'saving-color': deService.status == savingStatus.saving }")
                span {{ deService.status }}
                i(*ngIf="deService.status !== savingStatus.saving").p-l-5.zmdi.zmdi-check-circle