bw-modal(size="lg", [openOnInit]="true", (onClosed)="cancel()", (onDismiss)="cancel()")
    bw-modal-body
        .targets-form.xh-100(flex, layout="row")
            .left-side(flex="30", clicked="toggleActive()")
                kpi-list-targets

            .bgm-white(flex)
                .h-100(layout="column")
                    .m-r-10.m-l-10(flex)
                        bw-tab-set.w-80
                            bwTab.m-10(heading="Basic", icon="Basic", (select)="setIndex(1)",
                                [active]="activeIndex(1)") 
                                kpi-basic-targets([fg]="vm.fg", [vm]="vm")
                            bwTab.m-10(heading="Related Users", icon="Related Users", (select)="setIndex(2)",
                                [active]="activeIndex(2)") 
                                kpi-related-users([fg]="vm.fg", [vm]="vm")
                            bwTab.m-10(heading="milestones", icon="milestones", (select)="setIndex(3)",
                                [active]="activeIndex(3)") 
                                kpi-milestone([fg]="vm.fg", [vm]="vm")

                    .m-b-0.m-l-40.text-right(flex-initial)
                        bw-button.m-r-5(*ngIf="canGoBack()", title="Back", color="blue", [simple]="true", icon="arrow-left", (clicked)="goBack()")  
                        bw-button.m-r-5(*ngIf="canGoNext()", title="Next", color="blue", [simple]="true", icon="arrow-right", (clicked)="goNext()")  
                        bw-button.m-r-5(*ngIf="vm.fg.valid", color="blue" title="Save", icon="floppy", class="normal", (clicked)="save()")
                        bw-button.m-r-5(title="Cancel", color="black", [simple]="true", icon="close", (clicked)="cancel()")  