div(layout="column", layout-padding)
    .title Define your schema
    div(flex, *ngFor="let schema of schema.controls; let i=index")
        div(layout="row")
            div(flex)
                .schema-form-container(flex="100", layout="row")
                    .zmdi.zmdi-view-headline
                    div(flex="45", layout="column", layout-padding)
                        div(layout="row")
                            .schema-header Column name:
                        div(flex="100", layout="row") 
                            bw-text-box(
                                        [fg]="schema",
                                        field="columnName",
                                        [required]="true",
                                        label="Choose a name")

                    div(flex="40", layout="column", layout-padding)
                        div(layout="row")
                            .schema-header Data type
                        div(flex="100", layout="row") 
                            bw-select-picker.w-100(
                                        [fg]="schema",
                                        field="dataType",
                                        [required]="true",
                                        [items]="vm.dataTypeList",
                                        [liveSearch]="true",
                                        liveSearchPlaceholder="...search...",
                                        noneSelectedText="NOTHING SELECTED")
                    .zmdi.zmdi-close((click)="removeSchema(schema)")

.m-t-10.m-r-40(layout="row", layout-align="end")
    bw-button(icon="plus", title="ADD COLUMN", color="blue", (clicked)="addSchema()")