.item-list-container(layout="column", layout-padding)
    //- show the add button
    kpi-add-item(*ngIf="allowAdd", [itemViewModel]="itemViewModel", [addItemActivityName]="addItemActivityName", (onItemClicked)="addClicked()")

    .m-b-5(flex-initial)
        .header-content.flex(layout="column")
            .flex(layout="row")
                .title-desktop(flex="0", flex-gt-xs="100")
                    .list-title(*ngIf="title") {{ title }}
                .flex(layout="row", layout-align="center")
                    .m-10.text-center(flex-initial)
                        .search-box([formGroup]="fg")
                            input.search-box(formControlName="search", placeholder="Type to filter...", type="text")
                    .m-t-15.m-r-10.text-center(flex-initial, layout="row")
                        .ico-down.zmdi.zmdi-sort-amount-asc.tm-icon(flex-initial, (click)="showOrderButtons()")
                        //- bw-button-group([options]="viewOptions", type="default", (optionSelected)="onOptionSelected($event)")
                        bw-actions(*ngIf="viewItems", [showBig]="true", [actionItems]="viewItems", (actionClicked)="onViewItem($event)")
            .title-mobile.text-center(flex, flex-gt-sm="0", layout-padding)
                .list-title(*ngIf="title") {{ title }}

    .overflow-auto(flex)

        //- standard items
        div(*ngIf="showStandardItems", layout="row", layout-wrap, layout-padding)
            kpi-list-item-standard(
                [attr.flex-xs]="xsSize", [attr.flex-gt-sm]="smSize", [attr.flex-xl]="xlSize", [attr.flex-gt-xs]="gtxsSize",
                *ngFor="let item of filteredItems",
                [item]="item",
                [actionItems]="actionItems",
                [standardItemTemplate]="standardItemTemplate",
                (click)="itemClicked($event, item)",
                (actionClicked)="itemActionClicked($event)")

        //- table view
        .tabular-container.bgm-white.z-depth-1.p-20.m-l-10.m-r-10.m-b-20(*ngIf="showTabularItems", layout="column", layout-gt-sm="row")
            div(flex)
                kpi-list-item-tabular(
                    *ngFor="let item of filteredItems",
                    [item]="item",
                    [actionItems]="actionItems",
                    [tableRowTemplate]="tableRowTemplate",
                    (click)="itemClicked($event, item)",
                    (actionClicked)="itemActionClicked($event)")
.dropdown-menu-box(*ngIf="itemListVisible") 
    div(*ngFor="let item of orderListGet")
        bw-button(icon= "long-arrow-up", title= "{{item.descripcion}} ASC", color="white", (clicked)="orderAscBy(item.fieldName)", [block]="true")
        bw-button(icon= "long-arrow-down", title= "{{item.descripcion}} DESC", color="white", (clicked)="orderDescBy(item.fieldName)", [block]="true")
        //- future implementation
        //- div(*ngIf="showSmallItems", layout="row", layout-wrap, layout-padding)
        //-     kpi-list-item-small(*ngFor="let item of items", [item]="item")
        
        //- future implementation
        //- div(*ngIf="showBigItems", layout="row", layout-wrap, layout-padding)
        //-     kpi-list-item-big(*ngFor="let item of items", [item]="item")