kpi-spinner(*ngIf="loadingAppointments")
.appointments
    
    //- header
    .appointments--header
        .appt-header
            .appt-header--nav__left((click)="back()")
                //- bw-button([simple]="true", icon="chevron-left", color="black")
                i.zmdi.zmdi-chevron-left
            .appt-header--selected((click)="toggleOptions()")
                .appt-header--selected__day {{ selectedDay$ | async | momentFormat: 'D' }}
                .appt-header--selected__month {{ selectedDay$ | async | momentFormat: 'MMMM' }}
            .appt-header--nav__right((click)="next()")
                //- bw-button([simple]="true", icon="chevron-right", color="black")
                i.zmdi.zmdi-chevron-right

    
    //- appointment list
    .appointments--list(*ngIf="!loadingAppointments && atLeastOneAppt")
        .appt-content
            div(*ngFor="let a of appointments")
                .appt-item
                    .appt-item--color([style.background-color]="a.event?.color")
                    .appt-item--info
                        .appt-item--info__time {{ a.from | momentFormat: 'h:mm' }} {{ a.from | momentFormat: 'A' }} - {{ a.to | momentFormat: 'h:mm' }} {{ a.to | momentFormat: 'A' }}
                        .appt-item--info--line
                            .appt-item--info--line__header Provider: 
                            .appt-item--info--line__provider {{ a.provider }}
                        .appt-item--info--line
                            .appt-item--info--line__header Patient: 
                            .appt-item--info--line__patient {{ a.customer.fullname }}
                        .appt-item--info--line
                            .appt-item--info--line__header Reason: 
                            .appt-item--info--line__reason {{ a.reason }}
                    
                .separator

    .appointments-loader.text-center(*ngIf="loadingAppointments")
        bw-preloader(color="gray")
    
    .no-appointments.text-center.c-gray(*ngIf="!atLeastOneAppt")
        .no-appointments--icon
            i.zmdi.zmdi-calendar
        .no-appointments--text 
            div No appointments
            div found

.appt-options(layout="column", [class.visible]="showCalendar").z-depth-1.bgm-white
    //- .calendar-container.z-depth-1.bgm-white(flex-initial)

    .m-r-20.m-t-10.m-l-20
        //- bw-select-picker.m-r-20(flex="80", [fg]="fg", 
        //-     field="provider",
        //-     [multiple]="true",
        //-     [items]="providerList",
        //-     [liveSearch]="true",
        //-     noneSelectedText="All Providers",
        //-     #providerpicker,
        //-     #sideBarSelectProvider=""
        //-     )  
        bw-select-picker.m-r-20(flex="80", [fg]="fg", 
            field="resource",
            [multiple]="true",
            [items]="resourceList",
            [liveSearch]="true",
            noneSelectedText="All Resources",
            #sideBarResourcePicker
            )  
    .m-t-5.m-b-40.text-center
        dp-day-calendar(theme="dp-material", [config]="calendarConfig", (onSelect)="onDaySelected($event)")

    .m-t-20.text-center
        bw-button(title="Close", [rounded]="true", color="orange", (clicked)="toggleOptions()")
        
    
