button.btn.btn-float.waves-effect.bgm-blue((click)="openListConnectedDataSources()")
    i.zmdi.zmdi-arrow-back



div(layout="row", layout-wrap, layout-padding, layout-align="center center")
    .z-depth-1.bgm-white.m-10.animated(
        *ngFor="let dataSource of listAllDataSources",
        flex-xs="100", flex-gt-xs="25",
        [style.cursor]="'pointer'")
 
            div(layout="column")
                div(layout="row", layout-align="center center")
                    div.social-image(
                        [ngStyle]="{'background' :'#ffffff url('+dataSource.getUrlMainImage()+') no-repeat center center' }",
                        style="height:150px;")
                .text-center.text-wrap(flex)
                    h1.f-x-large {{dataSource.getTitle()}}
                div(flex-none)
                    .m-b-10(layout="row", layout-padding, layout-align="center end")
                        bw-button(flex-none, color="blue", title="Connect", icon="trending-up",
                            class="normal", [block]="true", (clicked)="tryConnectDataSource(dataSource)")

    
    //- .box.p-10(flex-xs="100", flex-md="25", flex-gt-lg="20", *ngFor="let dataSource of allServerSideDataSources")
    .z-depth-1.bgm-white.m-10.animated(
        *ngFor="let dataSource of allServerSideDataSources",
        flex-xs="100", flex-gt-xs="25",
        [style.cursor]="'pointer'")

            div(layout="column")
                .m-t-10(layout="row", layout-align="center center")
                    div.social-image(
                        [ngStyle]="{'background' :'#ffffff url('+dataSource.getUrlMainImage()+') no-repeat center center' }",
                        style="height:100px; width: 100px;")
                .text-center.text-wrap(flex)
                    h1.f-x-large {{ dataSource.getName() }}
                div(flex-none)
                    .m-10.p-b-15(layout="row", layout-padding, layout-align="center end")
                        bw-button(flex-none, color="blue", title="Connect", icon="trending-up",
                            class="normal", [block]="true", (clicked)="tryConnectDataSource(dataSource)")


kpi-call-rail
kpi-custom
