kpi-collapsable([(collapsed)]="isCollapsedTargetForm", headerText="Target Builder", [color]="'black'")
    div(layout="row", layout-padding)
      div(flex)
        small.select-picker-placeholder.required-star I would like to set target for:
        bw-select-picker.text-ellip(
            *ngIf="!nonStackList",
            [fg]="fg",
            field="stackName",
            leftIcon="group-work",
            [items]="stackList",
            [disabled]="stackList && stackList.length"
        )
        bw-select-picker.text-ellip(
            *ngIf="nonStackList",
            [fg]="fg",
            field="nonStackName",
            leftIcon="group-work",
            [items]="nonStackList"
        )


    div(layout-gt-sm="row", layout-xs="column", layout-align-gt-sm="start end", layout-padding)
        //- goal
        div(flex)
            small.select-picker-placeholder.required-star Goal:
            bw-select-picker(
                [fg]="fg",
                field="vary",
                leftIcon="gps-dot",
                [liveSearch]="true",
                [items]="varyTypes"
            )

        //- value
        div(flex)
            bw-text-box(
                [fg]="fg",
                field="amount",
                [value]="10",
                label="Value",
                leftIcon="edit",
                [required]="true"
            )

        //- unit
        div(flex)
            small.select-picker-placeholder.required-star Unit:
            bw-select-picker(
                [fg]="fg",
                field="amountBy",
                [required]="true",
                [disabled]="false",
                [liveSearch]="true",
                [items]="valueTypes"
            )


    div(layout-gt-sm="row", layout-xs="column", layout-align-gt-sm="start center", layout-padding)
        //- over
        div(flex)
            small.select-picker-placeholder.required-star([hidden]="isFixed()") Over:
            bw-select-picker.text-ellip(
                [fg]="fg",
                [hidden]="isFixed()",
                field="period",
                leftIcon="calendar-alt",
                [disabled]="false",
                [liveSearch]="false",
                [items]="periodTypes"
            )

        //- deadline
        div(flex)
            bw-date-picker(
                [fg]="fg",
                field="datepicker",
                label="Date",
                [required]="true",
                [config]="datePickerConfig"
            )
    div(*ngIf="!validDueDate", layout-gt-sm="row", layout-xs="column", layout-align-gt-sm="end end")
        div(flex-none)
            p.errorMsg.text-smaller only accept {{dueDate}} when chart has no frequency

    div(layout="row", layout-padding)
        //- name
        div(flex)
            bw-text-box(
                [fg]="fg",
                field="name",
                label="Name",
                leftIcon="bookmark",
                [required]="true"
            )
            .duplicatedNameMsg.p-b-20(*ngIf="fg.get('name').errors && fg.get('name').errors.forbiddenName && (fg.get('name').dirty || fg.get('name').touched)") Duplicated name

        //- active
        div(flex)
            bw-toggle([fg]="fg", field="active", color="green")


kpi-collapsable([(collapsed)]="isCollapsedNotifyTarget", headerText="Notifications", [color]="'black'")
    div(layout-gt-sm="row", layout-xs="column", layout-align-gt-sm="start center", layout-padding)
        //- notify
        div(flex)
            small.select-picker-placeholder Notify:
            bw-select-picker.text-ellip(
                [fg]="fgNotify",
                field="notifyUsers",
                [multiple]="true",
                [items]="notifyStaff",
                noneSelectedText="Select users"
            )

        //- notification
        div(flex)
            bw-date-picker(
                [fg]="fgNotify",
                field="notificationUsers",
                label="Date",
                [required]="true",
                [config]="datePickerConfig"
            )
    
    div(*ngIf="notifyDatePastDueDate", layout="row", layout-align="end end")
      div(flex-none)
        p.errorMsg.p-b-20.text-smaller enter date before deadline date

    div(layout="row", layout-align="end end")
      div(flex-none)
         bw-button(
           icon="notifications-active",
           [simple]="true",
           color="black", 
           [disabled]="!showNotification()",
           (clicked)="sendNotifications()"
        )
      
      div(flex-none)
        p TEST NOTIFICATIONS


kpi-collapsable([(collapsed)]="isCollapsedVisibleTarget", headerText="Visible For", [color]="'black'")
    div
        //- select users
        bw-select-picker(
            [fg]="fgVisible",
            field="visibleUsers",
            leftIcon="accounts-alt",
            [multiple]="true",
            [items]="visibleStaff",
            [required]="true"
        )