.alerts-container.p-relative
    
    //- desktop
    .h-100.p-relative(*ngIf="!isLoading && !isMobile", flex, layout="row", layout-xs="column")
      .left-panel(flex="40", flex-xs="100", layout="column")
        bw-button.addButton(color="blue", icon="plus", [rounded]="true", size="lg", (clicked)="onAddAlert()", [class.disabled]="!actionActivityNames.add")
        .custom-alert-header.p-10(layout="row", layout-padding)
          div(flex-initial)
            i.zmdi.zmdi-timer
          div(flex-initial)
            .title ALERTS MANAGER
        .custom-alert-body(layout="column")
          .alerts(flex, *ngFor="let alert of vm.alerts, let i = index", layout="column", 
              [ngClass]="{'selected-alert': vm.selectedAlertIndex === i}")
            kpi-alerts-summary(flex, [alert]="alert", [index]="i", (selectedAlertIndex)="updateSelectedAlertIndex($event)", (switchedActive)="switchActive($event, i)")

      .right-panel.overflow-auto(flex="60", flex-xs="100", layout="column")
        kpi-alerts-details(*ngIf="!isLoading", [fg]="fgDetails", [alert]="selectedAlert", [isMobile]="isMobile")
        .p-t-20.p-r-30(*ngIf="!isLoading", layout="row", layout-align="end")
          bw-button.m-l-5(icon="floppy", title="SAVE", color="blue", (clicked)="save()", [disabled]="!isFormValid() || !actionActivityNames.update")
          bw-button.m-l-5(icon="close", title="CANCEL", color="black", [simple]="true", (clicked)="cancel()")

    //- mobile
    #card.h-100.p-relative(*ngIf="!isLoading && isMobile", flex, layout="row", layout-xs="column", [class.flipped]="flipped && isMobile")
      figure.front
        .left-panel(flex="40", flex-xs="100", layout="column")
          bw-button.addButton(color="blue", icon="plus", [rounded]="true", size="lg", (clicked)="onAddAlert()", [class.disabled]="!actionActivityNames.add")
          .custom-alert-header.p-10(layout="row", layout-padding)
            div(flex-initial)
              i.zmdi.zmdi-timer
            div(flex-initial)
              .title ALERTS MANAGER
          .custom-alert-body(layout="column")
            .alerts(flex, *ngFor="let alert of vm.alerts, let i = index", layout="column", 
                [ngClass]="{'selected-alert': vm.selectedAlertIndex === i}")
              kpi-alerts-summary(flex, [alert]="alert", [index]="i", (selectedAlertIndex)="updateSelectedAlertIndex($event)", (switchedActive)="switchActive($event, i)")

      figure.back
        .right-panel.overflow-auto(flex="60", flex-xs="100", layout="column")
          kpi-alerts-details(*ngIf="!isLoading", [fg]="fgDetails", [alert]="selectedAlert", [isMobile]="isMobile", (goBackToList)="backToListClicked()", (dataUpdated)="NotificationUsersUpdated($event)")
          .p-t-20.p-r-30(*ngIf="!isLoading", layout="row", layout-align="end")
            bw-button.m-l-5(icon="floppy", title="SAVE", color="blue", (clicked)="save()", [disabled]="!isFormValid() || !actionActivityNames.update")
            bw-button.m-l-5(icon="close", title="CANCEL", color="black", [simple]="true", (clicked)="cancel()")
