div(#tableContainer, [hidden]="isModeView()")
  bw-modal(#listModal='', (onClosed)="modalClose()", (onDismiss)="modalClose()")
    bw-modal-header
      div(layout="row", layout-align="end", flex-none)
        bw-button(icon="close", color="gray", [simple]="true", (clicked)="close()")
    bw-modal-body
      kpi-item-list(
      title="Milestones List",
      [items]="vm.milestoneItems",
      [itemViewModel]="vm",
      [addItemActivityName]="'AddMilestoneActivity'",
      [itemListActivityName]="actionActivityNames",
      [actionItems] = "vm.menuItems",
      itemType="table",
      smSize="40",
      [tableRowTemplate]="tableItem",
      (onAddActionClicked)="add()",
      (onItemActionClicked)="actionClicked($event)",
      (onItemClicked)="editClickedList($event)")

      ng-template(#tableItem, let-item="item")
        //- image
        div(flex)
          img(*ngIf="item.imagePath", [src]="item.imagePath", [style.height.px]="55")
        //- title & subtitle
        div(flex)
          .m-t-10.m-l-10 
              h2.title {{ item.title }}
              small {{ item.subtitle }}
        //- extras
        div(flex)
          .m-t-10.m-l-10
            span {{ item.extras.status }} 

kpi-add-milestone([hidden]="isModeAdd()", [selectedTarget]="selectedTarget", (onMilestone)="onMilestone($event)")
kpi-update-milestone([hidden]="isModeUpdate()", [selectedMilestone]="selectedMilestone", (onMilestone)="onMilestone($event)")
