.m-20(layout="row", layout-align="center center")
  .import-scv(*ngIf="csvFileData.inputName || noFileImported", layout="column", [class.selected-file]="csvFileData.inputName")
    i.zmdi.zmdi-close.close-icon(*ngIf="csvFileData.inputName", (click)="dropImportedFile('csv')")
    img(src="{{ csvImagePath }}", alt="Enter data image")
    p(*ngIf="csvFileData.inputName", layout-align="center") {{ csvFileData.inputName }}
    i.zmdi.zmdi-check-circle.check-icon(*ngIf="csvFileData.inputName")
  .import-excel(*ngIf="excelFileData.inputName || noFileImported", layout="column", [class.selected-file]="excelFileData.inputName")
    i.zmdi.zmdi-close.close-icon(*ngIf="excelFileData.inputName", (click)="dropImportedFile('excel')")
    img(src="{{ excelImagePath }}", alt="Enter data image")
    p(*ngIf="excelFileData.inputName", , layout-align="center") {{ excelFileData.inputName }}
    i.zmdi.zmdi-check-circle.check-icon(*ngIf="excelFileData.inputName")
.p-30(layout="row", layout-align="center center")
  label.custom-file-upload
    i.zmdi.zmdi-download.p-r-10
    input(type="file", (change)="importFile($event)") 
    | IMPORT

.button-panel(layout="row")
  bw-modal-footer
    bw-button(icon="floppy", title="SAVE", color="blue", (clicked)="connect()", [disabled]="noFileImported")
    bw-button(icon="close", title="CANCEL", [simple]="true", (clicked)="cancel()")