
//- kpis
.m-10(layout="column")
    .text-right.c-gray(flex)
        #start-tour.pull-right
            i.zmdi.zmdi-help-outline.help-icon-chart.c-orange.m-r-10((click)="startTour()")
    #select-kpi(flex)
        bw-select-picker.p-l-35(flex, [fg]="fg",
            label="Select KPI",
            field="kpi",
            leftIcon="device-hub",
            [items]="kpiList",
            [liveSearch]="true",
            liveSearchPlaceholder="... search KPIs ...",
            noneSelectedText="NOTHING SELECTED")

    #select-chart-type(flex)
        kpi-chart-type(flex, [fg]="fg", [chartType]="chartType")

    //- date range and frequency
    .m-10(flex, layout-gt-sm="row", layout-xs="column")
        //- date range
        #select-date-range(flex)
            bw-select-picker.p-l-35(flex-initial, [fg]="fg",
                label="Date Range",
                leftIcon="calendar",
                field="predefinedDateRange",
                [items]="dateRangeList",
                [liveSearch]="true",
                liveSearchPlaceholder="... search date ranges ...",
                noneSelectedText="NOTHING SELECTED")  
            .animated.fadeIn.m-l-15(*ngIf="showCustomDateRangeControls", flex)
                bw-date-picker.p-b-5(flex, [fg]="fg", field="customFrom", label="MM/DD/YYYY", [required]="true", [config]="datePickerConfig")
                bw-date-picker(flex, [fg]="fg", field="customTo", label="MM/DD/YYYY", [required]="true", [config]="datePickerConfig")


        //- frequency
        #select-frequency(flex, [ngClass]="{'is-disabled': isPieChart }")
            bw-select-picker.p-l-35(flex-initial, [fg]="fg",
                #frequencyPicker, 
                label="Frequency",
                leftIcon="time-restore",
                field="frequency",
                [items]="frequencyList",
                [liveSearch]="true",
                noneSelectedText="NOTHING SELECTED",
                [disabled]="chartType == 'pie'")

    //- groupins and xAxis Soruce
    .m-10(flex, layout-xs="column", layout-gt-sm="row")
        //- groupins
        #select-grouping(flex)
            bw-select-picker.p-l-35(flex, [fg]="fg",
                label="Grouping",
                leftIcon="group-work",
                field="grouping",
                [items]="groupingList",
                [liveSearch]="true",
                noneSelectedText="NOTHING SELECTED")

        //- xAxis Soruce
        #select-xaxis-source(flex, [ngClass]="{'is-disabled': isPieChart }")
            bw-select-picker.p-l-35(flex, [fg]="fg",
                #xSourcePicker,
                label="xAxis Source",
                leftIcon="long-arrow-right",
                field="xAxisSource",
                dependOnField="grouping",
                (dependantValueChanged)="updateXaxisSourceList($event)",
                [items]="xAxisSourceList",
                noneSelectedText="NOTHING SELECTED",
                [disabled]="true")

    //- top N records
    .m-10(flex-initial, layout="row")
        #select-top-records(flex-initial)
            bw-select-picker.p-l-35(flex, [fg]="fg",
                label="Top N Records",
                leftIcon="trending-up",
                field="predefinedTop",
                [items]="topList"
            )
            .animated.fadeIn.m-l-15(*ngIf="showCustomTopNRecordControls", flex)
                bw-number(flex-none, [fg]="fg",
                    field="customTop",
                    [decimal]="true",
                    label="i.e. 5",
                    leftIcon="n-5-square"
                )
    
    //- Comparison
    .m-10(flex)
        kpi-collapsable.m-l-15.m-b-15([(collapsed)]="isCollapsedComparison", headerText="Comparison (Optional):", [ngClass]="{'is-disabled': isPieChart }", [color]="'black'")
            .m-t-15.m-l-25(layout="row")
                bw-select-picker(flex, [fg]="fg",
                    field="comparison",
                    [items]="vm.comparisonList",
                    [multiple]="true",
                    [maxOptions]="4",
                    noneSelectedText="Select Date Range")

    //- Sorting
    .m-10(flex)
        kpi-collapsable.m-l-15.m-b-15([(collapsed)]="isCollapsedSorting", headerText="Sorting (Optional)", [ngClass]="{'is-disabled': isPieChart }", [color]="'black'")
            .m-t-15.m-l-25(layout="row")
                bw-select-picker.p-l-35(flex, [fg]="fg",
                    label="Select Criteria",
                    field="sortingCriteria",
                    [items]="sortingCriteriaList",
                    noneSelectedText="NOTHING SELECTED",
                    [disabled]="chartType == 'pie'")
                bw-select-picker.p-l-35(flex, [fg]="fg",
                    label="Order"
                    field="sortingOrder",
                    [items]="sortingOrderList",
                    noneSelectedText="NOTHING SELECTED",
                    [disabled]="chartType == 'pie'")    

//- description
.m-10(layout="column")
    bw-text-box(flex-none, [fg]="fg", field="name", label="Name", leftIcon="label", [required]="true")
    .duplicatedNameMsg(*ngIf="fg.get('name').errors && fg.get('name').errors.forbiddenName && (fg.get('name').dirty || fg.get('name').touched)") Duplicated name
    bw-text-box(flex-none, [fg]="fg", field="group", label="Group", leftIcon="labels", [required]="true")
    .h-100(layout="row")
        i.zmdi.zmdi-file-text.c-black
        bw-text-area.p-l-15.w-100([fg]="fg", 
            field="description",
            label="Description",
            placeholder="Some description go here..",
            [autosize]="false")


    //- dashboard
    #select-dashboards(flex)
        bw-select-picker.p-l-35(flex, [fg]="fg",
            label="Choose a dashboard to see your chart",
            leftIcon="widgets",
            field="dashboards",
            [multiple]="true",
            [items]="dashboardList",
            noneSelectedText="NOTHING SELECTED")